/.project
/.DS_Store
/.gitignore
Full-Maude-3.1.zip
theory-views/theory-views-2.png
theory-views/theory-views-3.png
theory-views/theory-views-4.png
itp/eq-transformations.png
itp/id-remove-lists.png
itp/id-remove-sort.png
theory-views/rel.maude
theory-views/rel1.maude
theory-views/rel2.maude
theory-views/rel3.maude
